[submodule "controller"]
	path = controller
	url = https://github.com/robotastic/skybot-ptz-controller.git
[submodule "ledger"]
	path = ledger
	url = https://github.com/robotastic/skybot-object-ledger.git
[submodule "console"]
	path = console
	url = https://github.com/robotastic/skybot-console.git
[submodule "manager"]
	path = manager
	url = https://github.com/robotastic/skybot-manager.git
[submodule "skybot-dump1090-tcp"]
	path = skybot-dump1090-tcp
	url = https://github.com/robotastic/skybot-dump1090-tcp.git
